In [8]:
# https://geocoding.geo.census.gov/geocoder/geographies/onelineaddress?form
# https://geo.fcc.gov/api/census/block/find?latitude=40.764965&longitude=-73.95512&format=json

In [9]:
import json
import requests
from urllib.request import urlopen
import pandas as pd
import numpy as np
from time import sleep

In [10]:
def geo_to_fips(dataframe, latitude, longitude):
    fips = []
    for index, value in enumerate(dataframe.iloc[:,0]):
        url = "https://geo.fcc.gov/api/census/block/find?latitude=" + str(dataframe[latitude][index]) + "&longitude="+ str(dataframe[longitude][index]) + "&format=json"
        obj = json.load(urlopen(url))
        fips.append(obj['Block']['FIPS'])
    dataframe["FIPS"] = fips
    print("FIPS code converted")
    return  dataframe

In [11]:
df = pd.read_csv('testdf.csv')
df.head(5)

   tree_id   latitude  longitude
0   180683  40.723092 -73.844215
1   200540  40.794111 -73.818679
2   204026  40.717581 -73.936608
3   204337  40.713537 -73.934456
4   189565  40.666778 -73.975979

In [12]:
resultdf = geo_to_fips(df, 'latitude', 'longitude')
resultdf.head(5)

FIPS code converted

   tree_id   latitude  longitude             FIPS
0   180683  40.723092 -73.844215  360810739003003
1   200540  40.794111 -73.818679  360810973003001
2   204026  40.717581 -73.936608  360470449004041
3   204337  40.713537 -73.934456  360470449004045
4   189565  40.666778 -73.975979  360470165004001